<div class="popup">
			<div class="title">
				<div class="popup-close"><i class="fa fa-times-circle" aria-hidden="true"></i></div>
				<h2>Notice Board</h2>
			</div>
			<div class="content">
				<ul>
				<li>The News is Awesome. SRC is live on the web</li>
				<li>Lets Shake the world because its getting bored akba bjah gj vh jhvh jh vh vj</li>
                </ul>
			</div>
		</div>
		<section id="about" class="home-section text-center" >
			<div class="heading">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2">
							<div class="wow bounceInDown" data-wow-delay="0.4s">
								<div class="section-heading">
									<h2>About us</h2>
									<i class="fa fa-2x fa-angle-down"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="col-sm-12 col-md-6">
					<img src="images/DSC_0295.JPG" class="img-responsive">
				</div>
				<div class="col-sm-12 col-md-6">
					<div class="typed-about">
						<h4>WE LOVE <br class="visible-xs"><span class="element"></span></h4>
					</div>
					<p class="about-para">The Robotics Club is a community of students who derive pleasure in creating robots that may even be potent to work without human intervention. Each member of this family is provided insight into mechanical, basic electronic, monetary and informatory aid besides the indispensable guidance of experienced members. Club will support and foster interest in various aspects related to robotics in particular, mechanical design through workshops and projects. Robo-geeks will be provided a workspace, tools and other amenities to let their imagination loose. Competitions of various levels will be held under this club which will develop your interest in Robotics.</p>
				</div>
			</div>
		</section>
		<section id="projects" class="home-section text-center">
			<div class="heading heading-project">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2">
							<div class="wow bounceInDown" data-wow-delay="0.4s">
								<div class="section-heading">
									<h2>Projects</h2>
									<i class="fa fa-2x fa-angle-down"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
			<div class="col-xs-12 col-lg-6">
				<div class="box-model col-xs-3 overlay" style="background-image:url(images/home-automation-mobile.jpg)"></div>
				<div class="box-model col-xs-3" style="background-image:url(images/computer_vision.gif)"></div>
				<div class="box-model col-xs-3" style="background-image:url(images/gesture.jpg)"></div>
				<div class="box-model col-xs-3" style="background-image:url(images/Scout2.JPG)"></div>
				<div class="box-model col-xs-3" style="background-image:url(images/iot.png)"></div>
				<div class="box-model col-xs-3" style="background-image:url(images/Robot-Shield.jpg)"></div>
				<div class="box-model col-xs-3" style="background-image:url(images/arduino.jpg)"></div>
				<div class="box-model col-xs-3" style="background-image:url(images/raspberry-pi-logo.png)"></div>
				<div class="box-model col-xs-3" style="background-image:url(images/13582-05.jpg)"></div>
				<div class="box-model col-xs-3" style="background-image:url(images/arm.jpg)"></div>
				<div class="box-model col-xs-3" style="background-image:url(images/fingerprint.png)"></div>
				<div class="box-model col-xs-3" style="background-image:url(images/microcontroller.jpg)"></div>
			</div>
			<div class="col-xs-12 col-lg-6">
				<div class="redirect-to-project">
					<h3>Learn , Suggest and Collaborate</h3>
					<a class="btn btn-default" href="projects.html">See All Projects</a>
				</div>
			</div>
            </div>
		</section>