<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-lg-12">
						<div class="wow shake" data-wow-delay="0.4s">
							<div class="page-scroll marginbot-30">
								<a href="#intro" id="totop" class="btn btn-circle">
								<i class="fa fa-angle-double-up animated"></i>
								</a>
							</div>
						</div>
						<a class="btn btn-social-icon btn-twitter wow bounce" data-wow-delay="0.2s"><span class="fa fa-twitter"></span></a>
						<a class="btn btn-social-icon btn-google wow bounce" data-wow-delay="0.5s"><span class="fa fa-google-plus"></span></a>
						<a class="btn btn-social-icon btn-facebook wow bounce" data-wow-delay="0.8s"><span class="fa fa-facebook"></span></a>
						<a class="btn btn-social-icon btn-instagram wow bounce" data-wow-delay="1s"><span class="fa fa-instagram"></span></a>
						<p><span class="fa fa-copyright"></span>Copyright  - MenduPower. All rights reserved.</p>
					</div>
				</div>
			</div>
		</footer>