        <section id="corecommittee" class="home-section text-center">
			<div class="heading-about">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2">
							<div class="wow bounceInDown" data-wow-delay="0.4s">
								<div class="section-heading">
									<h2>Core Committee</h2>
									<i class="fa fa-2x fa-angle-down"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
					<div class="ih-item circle element colored effect20 top_to_bottom">
						<a href="#">
							<div class="img"><img src="images/girl1.jpg" alt="img"></div>
							<div class="info">
								<div class="info-back">
									<h3>Disha Patani</h3>
									<p>Actress</p>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
					<div class="ih-item circle element colored effect20 top_to_bottom">
						<a href="#">
							<div class="img"><img src="images/m3.jpg" alt="img"></div>
							<div class="info">
								<div class="info-back">
									<h3>Heading here</h3>
									<p>Description goes here</p>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
					<div class="ih-item circle element colored effect20 top_to_bottom">
						<a href="#">
							<div class="img"><img src="images/m3.jpg" alt="img"></div>
							<div class="info">
								<div class="info-back">
									<h3>Heading here</h3>
									<p>Description goes here</p>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
					<div class="ih-item circle element colored effect20 top_to_bottom">
						<a href="#">
							<div class="img"><img src="images/m3.jpg" alt="img"></div>
							<div class="info">
								<div class="info-back">
									<h3>Heading here</h3>
									<p>Description goes here</p>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
					<div class="ih-item circle element colored effect20 top_to_bottom">
						<a href="#">
							<div class="img"><img src="images/m3.jpg" alt="img"></div>
							<div class="info">
								<div class="info-back">
									<h3>Heading here</h3>
									<p>Description goes here</p>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
					<!-- colored -->
					<div class="ih-item circle element colored effect20 top_to_bottom">
						<a href="#">
							<div class="img"><img src="images/men2.jpg" alt="img"></div>
							<div class="info">
								<div class="info-back">
									<h3>Heading here</h3>
									<p>Description goes here</p>
								</div>
							</div>
						</a>
					</div>
					<!-- end colored -->
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
					<div class="ih-item circle element colored effect20 top_to_bottom">
						<a href="#">
							<div class="img"><img src="images/m3.jpg" alt="img"></div>
							<div class="info">
								<div class="info-back">
									<h3>Heading here</h3>
									<p>Description goes here</p>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
					<div class="ih-item circle element colored effect20 top_to_bottom">
						<a href="#">
							<div class="img"><img src="images/girl3.jpg" alt="img"></div>
							<div class="info">
								<div class="info-back">
									<h3>Heading here</h3>
									<p>Description goes here</p>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-lg-6"></div>
			<img src="images/team-cartoon.png" class="img-responsive">
		</section>